<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">

    <insert id="save" parameterType="board">
        insert into boardTable (boardTitle, boardWriter, boardContents, boardCreatedDate, boardFileName)
        values (#{boardTitle}, #{boardWriter}, #{boardContents}, now(), #{boardFileName})
    </insert>

    <select id="findAll" resultType="board" parameterType="java.util.HashMap">
        select * from boardTable order by id desc limit #{start}, #{limit}
    </select>

    <select id="findAllHits" resultType="board" parameterType="java.util.HashMap">
        select * from boardTable order by boardHits desc limit #{start}, #{limit}
    </select>

    <select id="findById" parameterType="Long" resultType="board">
        select * from boardTable where id=#{id}
    </select>

    <update id="updateHits" parameterType="Long">
        update boardtable set boardHits=boardHits+1 where id=#{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from boardTable where id=#{id}
    </delete>

    <select id="count" resultType="int">
        select count(id) from boardTable
    </select>

    <select id="search" resultType="board" parameterType="java.util.HashMap">
        select * from boardTable where ${searchType}
                                            like concat('%', #{q}, '%') order by id desc
    </select>

    <update id="update" parameterType="board">
        update boardTable set boardTitle=#{boardTitle}, boardContents=#{boardContents} where id=#{id}
    </update>


</mapper>














